/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar.is-transparent {
        background-color: #fff0;
        position: absolute;
        width: 100%;
    }
    
    .navbar.is-transparent .container {
        display: flex;
        justify-content: space-evenly;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
